@model ChangePasswordViewModel
@using Vereyon.Web
<h2><i class="fa fa-lock"></i> @ViewResource.ChangePassword_Title</h2>
@Html.RenderFlashMessages()
<div class="well well-sm well-shadow animated fadeIn ">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.KendoValidationSummary()
        <div class="form-group">
            @Html.LabelRequiredHintFor(m => m.CurrentPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.CurrentPassword).HtmlAttributes(new { type = "password", pattern = ".{1,20}", @style = "width:100%", required = "true",data_field = Html.DisplayNameFor(m => m.CurrentPassword) })
                @Html.ValidationMessageFor(m => m.CurrentPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelRequiredHintFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.NewPassword).HtmlAttributes(new { type = "password", pattern = ".{6,20}", @style = "width:100%", required = "true", data_compare_current = Html.IdFor(m => m.CurrentPassword), data_field =Html.DisplayNameFor(m=>m.NewPassword) })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelRequiredHintFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { type = "password", pattern= ".{6,20}", @style = "width:100%", required = "true" , data_compare = Html.IdFor(m => m.NewPassword), data_field = Html.DisplayNameFor(m => m.ConfirmPassword) })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-6">
                <div class="well well-sm well-info">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-info-circle"></i> @String.Format(MessageResource.PasswordValidator_MinimumPasswordLength, 6)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                @Html.KendoConfirmButton("saveButton", "send", "Change Password", new { @class = "k-primary" })
                @Html.ClearButton("clearButton",new { @class = "k-button-warning" })
                @Html.KendoActionLink("account","user",WidgetResource.Button_Account_Text,Url.Action("Index"), new { @class = "k-account" })
            </div>
        </div>
       
    }
</div>
@section scripts{
    <script type="text/javascript">
        var validator;
        var uiState = new AppUIState();
        $(document).ready(function () {
            app.initPage();
            uiState.register("save", [{ elem: "#saveButton", busyContent: "<i class=\"fa fa-spin fa-spinner\"></i> @WidgetResource.Button_Busy_Text" }, ".k-button"]);

            validator = $("form").kendoValidator({
                rules: {
                    compareCurrentPassword: function (input) {
                        if (input.is("[data-compare_current]")) {
                            return input.val() !== $("#" + input.data("compare-current")).val();
                        }
                        return true;
                    },
                    comparePassword: function (input) {
                        if (input.is("[data-compare]")){
                            return input.val() === $("#" + input.data("compare")).val();
                        }
                        return true;
                    }
                },
                messages: {
                    compareCurrentPassword: "@ModelMetadataResource.ChangePasswordViewModel_NewPassword_Compare",
                    comparePassword: "@ModelMetadataResource.ChangePasswordViewModel_ConfirmPassword_Compare"
                }
            }).data("kendoValidator");

            $("#saveButton").on("validating", function (sender, e) {
                e.isValid = validator.validate();
            }).on("openDialog", function (e, setting, elem) {
                setting.buttons.yes.action = function () {
                    uiState.busy("save", true);
                    $("form").submit();
                }
            });

            $("#clearButton").on("click", function (e) {
                e.preventDefault();
                validator.hideMessages();
                app.ui.clear(["#@Html.IdFor(m=>m.CurrentPassword)", "#@Html.IdFor(m=>m.NewPassword)", "#@Html.IdFor(m=>m.ConfirmPassword)"]);
            });
        })
    </script>
}

