@{
    Layout = "_Layout";
}
<p>
    Request No.: @Model.RequestNo
</p>
<p>
    Dear ACS User,
</p>
<p>
    A new request @Model.DocumentTypeEN, Request No. @Model.RequestNo has been submitted for your approval.
    ACS Administrator
</p>
<p>
    เรียนท่านผู้ใช้งานระบบ
</p>
<p>
    มีเอกสาร @Model.DocumentTypeTH เลขที่ @Model.RequestNo กำลังรอการอนุมัติ
</p>
<p>
    ผู้ดูแลระบบ ACS
</p>

