@{
    Layout = "_Layout";
}
<p>
    Request No.: @Model.RequestNo
</p>
<p>
    Dear User,
</p>
<p>
    The request @Model.DocumentTypeEN. Request No. @Model.RequestNo has been rejected by Area @Model.AreaNameEN.
</p>
<p>
    ACS
</p>
<p>
    เรียนท่านผู้ใช้งานระบบ
</p>
<p>
    Request @Model.DocumentTypeTH. Request No. @Model.RequestNo ไม่ผ่านการอุนมัติจากพื้นที่ @Model.AreaNameTH
</p>
<p>
    ACS
</p>
