@{
    _Layout = "_Layout";
}
<p>
    Request No.: @Model.RequestNo
</p>
<p>
    Dear User,
</p>
<p>
    The request @Model.DocumentTypeEN. Request No. @Model.RequestNo has been cancelled.
</p>
<p>
    ACS
</p>
<p>
    เรียนท่านผู้ใช้งานระบบ
</p>
<p>
    Request @Model.DocumentTypeEN. Request No. @Model.RequestNo ถูกยกเลิก
</p>
<p>
    ACS
</p>

