@model AcsItemInDetailViewModel
@{
    var currentDate = DateTime.Now.Date;
}
<div class="k-edit-form-container form-horizontal">




    <div class="form-group">
        @Html.LabelFor(m => m.ItemTypeID, new { @class = "col-md-4 control-label" })
        <div class="col-md-6 ">
            @(Html.Kendo().TextBoxFor(m=>m.ItemTypeName)
                    .HtmlAttributes(new {@readonly="True"}))
                
           
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ItemName, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @(Html.Kendo().TextBoxFor(m => m.ItemName)
                    .HtmlAttributes(new { @readonly = "True" }))
        </div>
    </div>
    <div class="form-group" id="A1">
   

        @Html.LabelRequiredHintFor(m => m.ActualTakeInQty, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @(Html.Kendo().NumericTextBoxFor(f => f.ActualTakeInQty)
                .Name("ActualTakeInQty")
                .Spinners(false)
                .Min(0)
                .Format("n0")
                .Decimals(0)
                .HtmlAttributes(new { @style = "width:100%" })
            )
        </div>
        <div class="col-md-offset-4 col-md-7">
        @Html.KendoValidationMessageFor(m => m.ActualTakeInQty)

        </div>
    </div>
    <div class="form-group" id="A2">
        @Html.LabelRequiredHintFor(m => m.ActualReturnQty, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @(Html.Kendo().NumericTextBoxFor(f => f.ActualReturnQty)
                .Name("ActualReturnQty")
                .Spinners(false)
                .Min(0)
                .Format("n0")
                .Decimals(0)
                .HtmlAttributes(new { @style = "width:100%" })
            )
        </div>
        <div class="col-md-offset-4 col-md-7">

        @Html.KendoValidationMessageFor(m => m.ActualReturnQty)
        </div>
    </div>

    <div class="form-group" id="A3">
        @Html.LabelRequiredHintFor(m => m.ActualReturnDate, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @(Html.Kendo().DatePickerFor(f => f.ActualReturnDate)
                .Max(currentDate)
         
                .HtmlAttributes(new { @style = "width:100%" })
            )
        </div>
    </div>
    @*<div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                @(Html.Kendo().CheckBoxFor(m => m.Confidential))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelRequiredHintFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @(Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new { @style = "width:100%", maxlength = 256 }))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelRequiredHintFor(m => m.RequestItemQty, new { @class = "col-md-2 control-label" })
            <div class="col-md-3 control-text">
                @(Html.Kendo().NumericTextBoxFor(m => m.RequestItemQty)
                    .Spinners(false)
                    .Format("n0")
                    .Decimals(0)
                    .Min(1)
                    .Max(9999)
                    .RestrictDecimals(true)
                )
            </div>
            @Html.LabelRequiredHintFor(m => m.PlanReturnDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-3 control-text">
                @(Html.Kendo().DatePickerFor(m => m.PlanReturnDate)
                   .Min(minTakeInDate)

                )
            </div>
        </div>*@

@Html.KendoValidationSummary("edit-form-error-message", new { @style = "margin:0 15px" })
</div>



