@{
    Layout = "_Layout";
}
<p>
    Request No.: <a href="@Model.LinkUrl">@Model.RequestNo</a>
</p>
<p>
    Dear ACS User,
</p>
<p>
    There is "@Model.DocumentTypeEN", Request No.: @Model.RequestNo has been approved and waiting for your acknowledge.
</p>
<p>
    ACS Administrator
</p>
<div>--------------------------------------</div>
<p>
    เรียนผู้ใช้งานระบบ ACS
</p>
<p>
    เอกสาร "@Model.DocumentTypeTH" เลขที่ @Model.RequestNo ได้รับการอนุมัติและรอให้คุณเข้ามารับทราบ
</p>
<p>
    ผู้ดูแลระบบ ACS
</p>
