@{
    Layout = "_Layout";
}
<p>
    Request No.: <a href="@Model.LinkUrl">@Model.RequestNo</a>
</p>
<p>
    Dear ACS User,
</p>
<p>
    There is "@Model.DocumentTypeEN", Request No.: @Model.RequestNo has been rejected by Area @Model.AreaNameEN.
	<div>Reject reason: @Model.RejectReason</div>
</p>
<p>
    ACS Administrator
</p>
<div>--------------------------------------</div>
<p>
    เรียนผู้ใช้งานระบบ ACS
</p>
<p>
    เอกสาร "@Model.DocumentTypeTH" เลขที่ @Model.RequestNo ไม่ผ่านการอุนมัติจากพื้นที่ @Model.AreaNameTH
	<div>เหตุผล: @Model.RejectReason</div>
</p>
<p>
    ผู้ดูแลระบบ ACS
</p>
